<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');</style>
    <link rel="shortcut icon" type="image/jpg" href="/images/icons/favicon-grogu.png"/>
    <link rel="stylesheet" href="/styles/main.css" />
    <script src="/scripts/main.js" defer></script>
    <script src="/scripts/search_results.js" defer></script>
    <script src="/scripts/like.js" defer></script>
    <script src="/scripts/add_to_playlist.js" defer></script>
    
    <% if (typeof page !== 'undefined' ) { %>
        <title>Spotify - <%= page %> </title>
        <% } else { %>
        <title>Spotify</title> 
    <% } %>
</head>
