<nav class="nav-bar">
    <div>
        <ul>
            <h2>Browse Music</h2>
            <li><a href="/"> Home </a></li>
            <li><a href="/collection/album"> Albums </a></li>
            <li><a href="/collection/track"> Tracks </a></li>
            <li><a href="/collection/genre"> Genres </a></li>
            <h2>Library</h2>
            <li><a href="/collection/recent"> Recently Played </a></li>
            <li><a href="/collection/liked"> Liked Songs </a></li>
        </ul>
    </div>
</nav>