
    <div class="songicon">
        <form action="/action_page.php" class="form-container">
            <img class="songimg" src="https://images.genius.com/9f28dbb3539fdcd04e34dcf92cab955b.1000x1000x1.png" width="100%">
            <label src="/song.name">Argentina</label>
            <label src="/song.artist">Gunna</label>
            <label src="/song.album">WUNNA</label>
            <label src="/song.album">2:29</label>

        </form>
    </div>