<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {page: 'Home'})  %>
<body>
    <div class="main">
        <%- include('partials/top-bar') %>
        <%- include('partials/nav-bar') %>
        <div class="main-view">
            <div class="main-container">
                <h1>Home Page</h1>
                <img src="/images/Homepage.png" alt="homepage-r&b-songs">
            </div>
        </div>
        <%- include('partials/now-playing-bar') %>
    </div>
    
</body>
</html>