<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {page: 'Library'})  %>
<body>
    <div class="main">
        <%- include('partials/top-bar') %>
        <%- include('partials/nav-bar')  %>
        <div class="main-view">
            <h1>Library Page</h1>
        </div>
        <%- include('partials/now-playing-bar')  %>
    </div>
</body>
</html>