<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {page: 'Playlist'})  %>
<body>
    <div class="main">
        <%- include('partials/top-bar') %>
        <%- include('partials/nav-bar')  %>
        <div class="main-view">
            <div class="track-container">
                <div class="track-info-container">
                    <img src="#" alt=image-track-title>
                    <div class="track-info-content">
                        <p>PLAYLIST</p>
                        <h1>Track Title</h1>
                        <p><b>Artist</b> • 2:00</p>
                    </div>
                </div>
                <div class="track-content">
                    <div class="track-options">
                        <a href="#"><img src="/images/icons/icon-play-button-circled-50.svg" alt="icon-play-button-circled-50"></a>
                    </div>
                    <div class="playlist-tracks">
                        
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/now-playing-bar')  %>
    </div>
</body>
</html>