<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {page: 'Search'})  %>
<body>
    <div class="main">
        <%- include('partials/top-bar') %>
        <%- include('partials/nav-bar')  %>
        <div class="main-view">
            <div id="results" class="grid-container">
                <h1 style="margin-top: -.35em">Search</h1> 
            </div>
        </div>
        <%- include('partials/now-playing-bar')  %>
    </div>
</body>
</html>