<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {page: 'Track'})  %>
<body>
    <div class="main">
        <%- include('partials/top-bar') %>
        <%- include('partials/nav-bar')  %>
        <div class="main-view">
            <div class="track-info-container">
                <img src="https://picsum.photos/200/300" alt="#">
                <p>SONG</p>
                <h1>GTA</h1>
                <p>Rarin 2020 2:04</p>
            </div>
        </div>
        <%- include('partials/now-playing-bar')  %>
    </div>
</body>
</html>