@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(194, 156, 210), 0 0 40px rgb(186, 141, 204), 0 0 50px rgb(173, 114, 196), 0 0 60px rgb(170, 96, 200), 0 0 70px rgb(162, 63, 201);
    }
    to {
      text-shadow: 0 0 20px rgb(255, 255, 255), 0 0 30px rgba(255, 77, 166, 0.271), 0 0 40px #ff4da673, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  




*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font-family: 'Roboto', sans-serif;
    --main-bg-color: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-color: rgb(96 200 105);
    --ease: all .1s ease 0s;
    --raj: 'Rajdhani';
    --slotfont: 'Alumni Sans Inline One';
    --titlefont: 'Rubik Maze';
    --normalfont: 'Lato'
  }
  
html {
    width: 100%;
    height: 100%;
}
body{
    color:var(--text-subdued);
    font-family: var(--font-family); 
    background-color: black;
}
.main-view{
    background-image: linear-gradient(rgb(135, 0, 150), black);

}
.head{
    display: inline-flex;
    width: 100%;
    background-image: linear-gradient(rgba(220, 16, 189, 0.85), rgba(135, 0, 150, 0.793));

}
.subhead{
    display: flex;

}
.heart{
    margin: 25px;
     
    
}
.title{
    margin-top: 4em;
    margin-bottom: -10px;
}
.play{
    border-color: #fff;
    background-color: var(--text-color);
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 5px rgba(38, 164, 2, 0.2), 3px 3px 10px 10px rgba(146, 146, 146, 0.19);
    border-style: none;
}
i{
    font-size: 25px;
    color:#fff;
}
i.{
    font-size: 25px;
    color:#fff;
}
.play:hover{
    color: var(--text-subdued);
    cursor: pointer;
    transform: scale();
    transition: var(--ease);
    transform: scale(1.06);
    box-shadow: 1px 1px 1px 1px rgba(135, 135, 135, 0.134), 1px 1px 1px 1px rgba(132, 132, 132, 0.453);
}
.shuffle{
    border-color: #fff;
    background-color: var(--text-color);
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 5px rgba(38, 164, 2, 0.2), 3px 3px 10px 10px rgba(146, 146, 146, 0.19);
    border-style: none;

}
.shuffle:hover{
    color: var(--text-subdued);
    cursor: pointer;
    transform: scale();
    transition: var(--ease);
    transform: scale(1.06);
    box-shadow: 1px 1px 1px 1px rgba(135, 135, 135, 0.134), 1px 1px 1px 1px rgba(132, 132, 132, 0.453);
}
table{
    width: 100%;
}
th{
    border-bottom: .3px solid;
}

tr:hover{
    color: white;
}
.song.name{
    align-content: left;
}

i.fa-regular.fa-heart{
    font-size: 90px;
    color:#fff;
    margin-right: 30px;
    animation: glow 2s ease-in-out infinite alternate;
    
}
.likedSongs{
    font-size: 30px;
    color:#fff;
    margin-right: 30px;
    animation: glow 5s ease-in-out infinite alternate;
    font-stretch: expanded;
}
i.fa-solid.fa-bars{
    font-size: 15px;
    color:#fff;
}
i.fa-brands.fa-spotify{
    font-size: 20px;
}
i.fa-solid.fa-circle{
    font-size: 7px;
    justify-self:center;
}
i.fa-solid.fa-heart.fa-beat{
    font-size: 20px
}
